		<div class="container-fluid text-left" id="footer">
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-4 text-bottom">
					<h3>Información académica</h3>
					Universidad de La Laguna (<a href="https://www.ull.es/" target="blank_">ULL</a>)
					<br>
					Escuela Superior de Ingeniería y Tecnología (<a href="https://www.ull.es/view/centros/etsii/Inicio/es" target="blank_">ESIT</a>)
					<br>
					Grado en Ingeniería Informática (<a href="https://www.ull.es/view/centros/etsii/Grado_en_Ingenieria_Informatica/es" target="blank_">GII</a>)
					<br>
					Curso 2016-17
				</div>
				<div class="col-sm-4">
					<h3>Contacta con nosotros</h3>
						<div class="row">
							<a href="https://github.com/ednagc" class="btn btn-social-icon btn-github" target="blank_"><span class="fa fa-github"></span></a>
							<a href="https://ednagc.github.io/edna-galiano" target="blank_"> Edna Liliana Galiano Camacho</a>
						</div>
						<div class="row">
							<a href="https://github.com/alu0100767001" class="btn btn-social-icon btn-github" target="blank_"><span class="fa fa-github"></span></a>
							<a href="https://alu0100767001.github.io/dsi-joseluis" target="blank_">José Luis Doblado González</a>
						</div>
						<div class="row">
							<a href="https://github.com/alu0100821390" class="btn btn-social-icon btn-github" target="blank_"><span class="fa fa-github"></span></a>
							<a href="https://alu0100821390.github.io/" target="blank_">Kevin Estévez Expósito</a>
						</div>
				</div>
				<div class="col-sm-2"></div>
			</div>
		</div>
	</body>
</html>
