        <% var title = 'Calculadora JSimple' %>
        <% include head %>

		<nav class="navbar navbar-fixed-top">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a href="/" id="index"><strong>Calculadora JSimple</strong></a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#operaciones">Operaciones</a></li>
						<li><a href="#acercade">Sobre el proyecto</a></li>
						<li><a href="#footer">Contacto</a></li>
						<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Iniciar sesión</a></li>
					</ul>
				</div>
			</div>
		</nav>
		  
		<div class="container-fluid text-center" id="main">    
			<div class="row content">
				<div class="col-sm-2 sidenav"></div>
				<div class="col-sm-8 text-center panel panel-default">
					<div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <h1>Tu calculadora online</h1>
                            <p><strong>CJS es una calculadora de operaciones binarias simples que guarda tus últimas operaciones realizadas en el historial de tu cuenta.</strong></p>
                        </div>
                        <div class="col-sm-2"></div>
					</div>
					<hr>
					<div class="row">
                        <div class="col-sm-2"></div>
						<div class="col-sm-4">
							<p class="lead">¿Ya tienes una cuenta?</p>
							<a href="/login" class="btn btn-primary btn-lg">Iniciar sesión</a>
						</div>
						<div class="col-sm-4">
							<p class="lead">¿Aún no te has registrado?</p>
							<a href="/register" class="btn btn-primary btn-lg">Registrarse</a>
						</div>
                        <div class="col-sm-2"></div>
					</div>
					<hr>
					<div class="row" id="operaciones">
						<h2>Operaciones soportadas actualmente</h2>
						<div class="col-sm-2"></div>
						<div class="col-sm-8 text-center">
                            <div class="row">
                            </div>
                            <div class="row text-left">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">
                                    <ul>
                                        <li><a href="https://github.com/ULL-ESIT-DSI-1617/proyecto-dsi-edna-joseluis-kevin-35l2v3-1-operation-suma" target="blank_">Suma</a> (+)</li>
                                        <li><a href="https://github.com/ULL-ESIT-DSI-1617/proyecto-dsi-edna-joseluis-kevin-35l2v3-1-operation-resta" target="blank_">Resta</a> (-)</li>
                                    </ul>
                                </div>
                                <div class="col-sm-5">
                                    <ul>
                                        <li><a href="https://github.com/ULL-ESIT-DSI-1617/proyecto-dsi-edna-joseluis-kevin-35l2v3-1-operation-multiplicacion" target="blank_">Multiplicación</a> (x)</li>
                                        <li><a href="https://github.com/ULL-ESIT-DSI-1617/proyecto-dsi-edna-joseluis-kevin-35l2v3-1-operation-division" target="blank_">División</a> (/)</li>
                                    </ul>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
						</div>
						<div class="col-sm-2"></div>
					</div>
					<hr>
					<div class="row" id="acercade">
						<h2>Sobre el proyecto</h2>
						<div class="col-sm-1"></div>
						<div class="col-sm-10">
							<p>Esta aplicación constituye el proyecto final de la asignatura Desarrollo de Sistemas Informáticos, perteneciente al Grado en Ingeniería Informática de la Universidad de La Laguna.</p>
							<p>Se ha intentado englobar la mayor cantidad de contenidos posibles vistos en la asignatura, como pueden ser JavaScript, ECMAS6, NodeJS, npm, vistas EJS, MongoDB, etc.</p>
						</div>
						<div class="col-sm-1"></div>
					</div>
				</div>
				<div class="col-sm-2 sidenav"></div>
			</div>
		</div>
		<br>

		<% include foot %>