        <% var title = 'Calculadora JSimple' %>
        <% include head %>

		<nav class="navbar navbar-fixed-top">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">					
						<li><a href="#">Ver mi historial</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Cerrar sesi贸n</a></li>
					</ul>
				</div>
			</div>
		</nav>
		  
		<div class="container-fluid text-center">    
			<div class="row content">
				<div class="col-sm-1 sidenav"></div>
				<div class="col-sm-10 text-center">
					<div class="row">
						<h1><u>Calculadora JSimple</u></h1>
					</div>
					<br>
					<div class="row">
						<div class="row">
							<div class="col-sm-3"></div>
							<div class="col-sm-6">
								<label for="original">Introduzca una operaci贸n (por ejemplo 2+3):</label>
								<input type="text" class="form-control text-center" id="original" placeholder="2+3">
							</div>
							<div class="col-sm-3"></div>
						</div>
						<div class="row">
							<div class="col-sm-3"></div>
							<div class="col-sm-6">
								<label for="operated">Resultado:</label>
								<span class="output text-center" id="operated"></span>
							</div>
							<div class="col-sm-3"></div>
						</div>
					</div>
					<br>
					<div class="row">
						<h2>Operaciones soportadas:</h2>
						<div class="row text-left">
							<div class="col-sm-4"></div>
							<div class="col-sm-2">
								<ul>
									<li><strong>+</strong> (Suma)</li>
									<li><strong>-</strong> (Resta)</li>
								</ul>
							</div>
							<div class="col-sm-2">
								<ul>
									<li><strong>x</strong> (Multiplicaci贸n)</li>
									<li><strong>/</strong> (Divisi贸n)</li>
								</ul>
							</div>
							<div class="col-sm-4"></div>
						</div>
					</div>
				</div>
				<div class="col-sm-1 sidenav"></div>
			</div>
		</div>
		<br>

		<% include foot %>