		<% var title = 'Calculadora JSimple' %>
        <% include head %>

		<nav class="navbar navbar-fixed-top">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a href="/" id="index"><strong>Calculadora JSimple</strong></a></li>
					</ul>
				</div>
			</div>
		</nav>
		  
		<div class="container-fluid text-center">    
			<div class="row content">
				<div class="col-sm-1 sidenav"></div>
				<div class="col-sm-10 text-center">
					<div class="row">
						<div class="col-sm-4"></div>
						<div class="col-sm-4 panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <h2>Inicia sesión</h2>
                                </div>
                                <% if (message.length > 0) { %>
                                    <div class="alert alert-danger"><%= message %></div>
                                <% } %>
                                <form class="text-left" action="/login" method="post">
                                    <div class="form-group">
                                        <label for="username">Nombre de usuario</label>
                                        <input type="text" class="form-control" id="username" placeholder="Nombre de usuario" name="username">
                                    </div>
                                    <div class="form-group">
                                        <label for="passwd">Contraseña</label>
                                        <input type="password" class="form-control" id="passwd" placeholder="Contraseña" name="passwd">
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" id="check" name="check"> Recordar usuario
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-primary" aria-describedby="loginHelp" onclick="if (check.checked == true) storeUser();">Iniciar sesión</button>
                                    <p><small id="loginHelp" class="form-text text-muted">¿Aún no tienes cuenta?<a href="/register"> Regístrate</a></small></p>
                                </form>
                                <form class="text-left">
                                    <button type="submit" class="btn btn-danger text-left" onclick="clearLocalStorage();">Eliminar almacenamiento local</button>
                                    <p><small id="removeLocStorHelp" class="form-text text-muted">(Deja de recordar tu usuario)</small></p>
                                </form>
                                <hr>
                                <div class="row">
                                    <h3>Accede con tus redes sociales</h3>
                                </div>
                                <br>
                                <div class="row">
                                    <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook">
                                        <span class="fa fa-facebook"></span> Entra con tu cuenta de Facebook
                                    </a>
                                    <a href="/auth/github" class="btn btn-block btn-social btn-github">
                                        <span class="fa fa-github"></span> Entra con tu cuenta de GitHub
                                    </a>
                                </div>
                            </div>
						</div>
						<div class="col-sm-4"></div>
					</div>
				</div>
				<div class="col-sm-1 sidenav"></div>
			</div>
		</div>
		<br>
        <script src="js/remember.js"></script>
        <script>
            window.onload = function() {
                if (window.localStorage && localStorage.getItem("username")) {
                    username.value = localStorage.getItem("username");
                }
            }
        </script>

		<% include foot %>
