/* Set background color, white text and some padding */
#footer {
	background-color: #2C3E50;
	color: white;
	padding: 15px;
}

#index {
	font-size: 200%;
	font-style: italic;
}

#main {
	font-size: 125%;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
	margin-bottom: 0;
	border-radius: 0;
	background: #2C3E50;
	color: white;
}

.navbar a {
	color: white;
}

.navbar-nav a:hover {
	color: #2C3E50;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 450px
}

/* Set background color and 100% height */
.sidenav {
	padding-top: 20px;
	height: 100%;
}

.glyphicon.glyphicon-menu-down {
	font-size: 300%;
}

.panel {
	background-color: #EDFFF5;
	border-radius: 25px;
}

body {
	font-family: 'Rubik', sans-serif;
	padding-top: 60px;
	background-image: url(../images/pizarra.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}

	.row.content {
		height:auto;
	}
}